
* {
	padding: 0;
	margin: 0;
	line-height: 1.4em;
	box-sizing: border-box;
}

body {
	height: 100vh;
	padding: 100px;
	padding-top: 150px;
	font-family: sans-serif;
	background: red;
}

#mainCard {
	background: white;
	position: relative;
	width: 80%;
	margin: 0 auto;
	padding: 40px;
	border: 6px solid black;
	h1 {
		position: absolute;
		top: -60px;
		font-size: 4em;
		font-weight: bold;
		color: white;
		text-shadow: -3px -7px 0px black;
	}
	form {
		justify-content: center;
		width: 70%;
		margin: 0 auto;
		display: grid;
		gap: 20px;
		grid-template-columns: 1fr 1fr;
	}
	label {
		text-align: right;
	}
	form > * {
		height: 20px;
		margin-top: 15px;
	}
	.lowerImage {
		position: absolute;
		bottom: -80px;
		left: -25px;
		border-radius: 5px;
		border: 5px solid black;
	}
}
