* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html {
	height: 100%;
	font-family: sans-serif;
}

body {
	height: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	background: #bec1ff;
}
	

.container {
	background: #0910a2;
	padding: 10px;
	display: flex;
	border-radius: 30px;
	
}

.h, .m, .s {
	width: 150px;
	height: 150px;
	margin: 10px;
	background: #bec1ff;
	border-radius: 5px;
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 100px;
	font-weight: bold;
	color: #0910a2;
}

.h {
	border-radius: 20px 5px 5px 20px;
}

.s {
	border-radius: 5px 20px 20px 5px;
}

	
